let mapleader = " "
set scrolloff=8
set visualbell
set noerrorbells

" Do incremental searching.
set incsearch

" Plugins
Plug 'tpope/vim-surround'
set NERDTree
set easymotion
set surround
set multicursor
set easymotion
set ideajoin


"EasyMotion ------------------------
map <leader>F <Plug>(easymotion-s)
map <leader>f <Plug>(easymotion-f)

"NERDTree ------------------------
map <c-e> :NERDTree<CR>
nnoremap <leader>wq :wq<CR>

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

"Refactoring""""""""""""""""""""""""""""""""""""""
noremap <leader>re :action RenameElement<CR>

"Run""""""""""""""""""""""""""""""""""""""
noremap <leader>rr :action Run<CR>
noremap <Space>sp   :action Stop<CR>
noremap <Space>dd :action Debug<CR>

"Debug""""""""""""""""""""""""""""""""""""""
noremap <leader>bp :action ToggleLineBreakpoint<CR>

"Window""""""""""""""""""""""""""""""""""""""
noremap <leader><leader> :action HideAllWindows<CR>
noremap <Space>AT :action ActivateTODOToolWindow<CR>
nnoremap H gT
nnoremap L gt
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv
nnoremap <C-d> <C-d>zz<CR>
nnoremap <C-u> <C-u>zz<CR>
nnoremap <leader>nf :action NewFile<CR>
nnoremap <leader>nd :action NewDir<CR>
map <leader>c <action>(CommentByLineComment)
noremap <Space>td :action ActivateTODOToolWindow<CR>

" Window splits
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)

"Information""""""""""""""""""""""""""""""""""""""
noremap <Space>ed :action ShowErrorDescription<CR>
""""""""""""""""""""""""""""""""""""""Project""""""""""""""""""""""""""""""""""""""
noremap <Space>cP :action CloseProject<CR>
noremap <Space>CP :action CloseProject<CR>
noremap <Space>oP :action OpenFile<CR>
noremap <Space>OP :action OpenFile<CR>
noremap <Space>nP :action NewProject<CR>
noremap <Space>NP :action NewProject<CR>
""""""""""""""""""""""""""""""""""""""Jump articles""""""""""""""""""""""""""""""""""""""
noremap <Space>te :action SearchEverywhere<CR>
nnoremap <Space>ts mm`m:action GotoSymbol<CR>
noremap  <Space>tu  mm`m:action Toolkit.GotoService<CR>
nnoremap <Space>ta mm`m:action GotoAction<CR>
noremap <Space>tf mm`m:action GotoFile<CR>
noremap <Space>tt mm`m:action GotoTest<CR>
noremap <Space>tc mm`m:action GotoClass<CR>
noremap <Space>tp mm`m:action FindInPath<CR>
noremap <Space>ne mm`m:action GotoNextError<CR>
noremap <Space>pe mm`m:action GotoPreviousError<CR>
noremap gd mm`m:action GotoDeclaration<CR>
noremap gs mm`m:action GotoSuperMethod<CR>
noremap gi mm`m:action GotoImplementation<CR>
noremap <Space>g, mm`m:action JumpToLastChange<CR>
noremap <Space>g; mm`m:action JumpToNextChange<CR>
noremap <Space>rf :action RecentFiles<CR>
noremap <Space>rF :action RecentChangedFiles<CR>
noremap <Space>nw :action NextProjectWindow<CR>
noremap <Space>pw :action PreviousProjectWindow<CR>
noremap <Space>. :action ShowIntentionActions<CR>
noremap <Space>sql :action ActivateDatabaseToolWindow<CR>
map \r :action ReformatCode<CR>
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t


"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
" Find more examples here: https://jb.gg/share-ideavimrc
